.navs{
height: 150vh;
}
.navs::before{
width: 100%;
height: 150%;
}
#about{
font-size: 25px;
line-height: 1.2;
height: 150px;
}
#flex a .brand{
padding-left: 60px;
}
img{
width: 260px;
height: 260px;
object-fit: cover;
}
.sam{
font-size: 20px;
}
.social i{
padding: 20px;
}
.media i{
padding:5px;
}
.media h1{
font-size: 20px;
}
.social i{
padding: 10px;
}
@media(max-width:768px){
.navbar ul li a{
    padding: 10px 30px;
}
.navs::before{
    height: 100%;
}
.navs{
    height: 100vh;
}
img{
    width: 250px;
    height: 250px;
}
#flex{
    height: 400px;
}
#about{
    height: 200px;
}
.social i{
    padding: 20px;
}
}
@media(max-width:600px){
.navs{
    height: 100vh;
}
.navs::before{
    height: 100%;
}
.navbar h1{
    margin-left: 10px;
}
.navbar ul li a{
    padding: 10px 20px;
}
#about{
    margin-top: 0px;
    height: 200px;
}
#flex{
    height: 300px;
}
img{
    width: 200px;
    height: 200px;
}
#flex a .brand{
    padding-left: 35px;
    font-size: 20px;
}
#flex a {
    margin-left: 10px;
    font-size: 15px;
}
.print{
    font-size: 20px;
}
.social {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}
@media(max-width:506px) and (min-width:475px){
    .navbar h1{
        font-size: 17px;
    }
}
@media(max-width:487px){
    header h1{
        font-size: 25px;
    }
    #about{
        height: 250px;
    }
}
@media(max-width:473px) and (min-width:427px){
  .navbar h1{
      font-size: 15px;
      margin-left: 10px;
  }
  .navbar ul li a{
      padding: 10px 10px;
  }
}
@media(max-width:430px){
.navs::before{
    height: 100%;
}
.navs{
    height: 100vh;
}
header{
    font-size: 10px;
}
.navbar h1{
    margin-left: 10px;
    font-size: 15px;
}
#about h1{
    font-size: 20px;
}
#about p{
    font-size: 20px;
}
img{
    width: 150px;
    height: 150px;
}
.navbar ul li a{
    padding: 10px 10px;
    font-size: 15px;
}
#works h1{
    font-size: 20px;
}
#flex{
    height: 250px;
}
#flex h1{
    font-size: 15px;
}
#flex a .brand{
    font-size: 20px;
    padding-left: 25px;
}
#about{
    height: 180px;
}
.social{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

}
@media(max-width:380px){
header h1{
    font-size: 17px;
}
.navs{
    height: 100vh;
}
.navs::before{
    height: 100%;
}
#about h1{
    font-size: 20px;
}
#about p{
    font-size: 15px;
}
.navbar h1{
    margin-left: 0px;
}
#works h1{
    font-size: 20px;
}
#flex h1{
    font-size: 15px;
}

#flex{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    height: 440px;
}
#about{
    height: 130px;
}
#about{
    margin-top: 0px;
}
header{
    height: 470px;
}
#flex a .brand{
    font-size: 15px;
    padding-left: 0px;
}
}
@media(max-width:361px){

.navbar ul li a{
    padding: 10px 7px;
}
header{
    height: 450px;
}
header a{
    font-size: 15px;
    padding: 0.2rem;
    height: 30px;
}
@media(max-width:295px){
.navs{
height: 100vh;
}
.navbar h1{
    margin-left: 3px;
    font-size: 10px;
}
.navbar ul li a{
    padding: 10px 10px;
    font-size: 10px;
}
header{
    font-size: 7px;
}
header p{
    font-size: 12px;
}
#about{
    margin-top: 0px;
    height: 150px;
    font-size: 15px;
}
#about p{
    font-size: 15px;
}
#flex{
    height: 200px;
}
#flex a .brand{
    font-size: 12px;
    padding-left: 0px;
}
img{
    width: 100px;
    height: 100px;
}
.graphics{
    padding-left: 50px;
}
}
@media(max-width:340px){
.navs::before{
    height: 100%;
}
.navbar h1{
    font-size: 10px;
    margin-left: 10px;
}
.navbar ul li a{
    font-size: 10px;
    padding: 10px 10px;
}
#flex{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    height: 400px;
}
#flex a .brand{
    padding-left: 0px;
    font-size: 15px;
}
img{
    width: 140px;
    height: 140px;
}
}
}
@media(max-width:470px){
    .navs::before{
        height: 120%;
    }
}