img{
    width: 400px;
    height: 400px;
}
.media i{
    padding: 5px;
}
.media h1, .sam{
    font-size: 20px;
}
#section-1{
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    text-align: center;
}
#section-2{
    grid-template-columns: repeat(1, 1fr);
}
@media(max-width:768px){
    img{
        width: 400px;
        height: 400px;
    }
    #section-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .social i{
        padding: 15px;
    }
}
@media(max-width:600px){
    img{
        width: 350px;
        height: 350px;
    }
    .navbar ul li a{
        padding: 10px 15px;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:450px){
    img{
        width: 300px;
        height: 300px;
    }
    .navbar ul li a{
        padding: 10px 10px;
    }
}
@media(max-width:380px){
    .navbar{
        font-size: 15px;
    }
    .navbar h1{
        margin-left: 5px;
    }
}
@media(max-width:320px){
    img{
        width: 250px;
        height: 250px;
    }
    .navbar h1{
        font-size: 13px;
    }
    .navbar ul li a{
        padding: 7px 7px;
    }
}
@media(max-width:280px){
    .navbar{
        font-size: 10px;
    }
}