img{
    width: 200px;
    height: 200px;
}
.media i{
    padding: 5px;
}
.media h1, .sam{
    font-size: 20px;
}
@media(max-width:768px){
    img{
        width: 150px;
        height: 150px;
    }
    #section-2{
        grid-gap: 0.5rem;
    }
}

@media(max-width:600px){
    .navbar ul li a{
        padding: 10px 10px;
    }
    img{
        width: 11rem;
        height: 11rem;
        margin-bottom: 10px;
        border-radius: 0;
    }
    #section-2{
        grid-gap: 0rem;
    }
    #section-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    

}

@media(max-width:420px){
    img{
        width: 8rem;
        height: 8rem;
        margin-bottom: 10px;
    }
    #section-1{
        grid-gap: 15px;
    }
}

@media(max-width:380px){
    .navbar h1{
        margin-left: 10px;
        font-size: 17px;
    }
    .navbar ul li a{
        padding: 10px 10px;
    }
    #section-2{
        grid-template-columns: repeat(1, 1fr);
    }
    #section-1{
        grid-gap: 15px;
    }
}
@media(max-width:320px){
    .navbar h1{
        font-size: 15px;
    }
    .navbar ul li a{
        padding: 10px 7px;
        font-size: 15px;
    }
}

@media(max-width:280px){
    .navbar h1{
        margin-left: 0px;
        font-size: 14px;
    }
    .navbar ul li a{
        padding: 10px 7px;
        font-size: 14px;
    }
    img{
        width: 7rem;
        height: 7rem;
        margin-bottom: 30px;
    }
    #section-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    header{
        font-size: 20px;
        margin-top: 10px;
        height: 200px;
    }

}